<section class="section workshops-section">
  <div class="workshops-header-wrapper">
    <div class="workshops-header">
      <h1 class="title">Workshops</h1>

      <div class="description">
        <p>We organiseren educatieve en culturele workshops binnen verschillende disciplines, zowel in huis als op aanvraag.</p>

        <p>
          <strong>Workshops in huis</strong>
          worden op vaste tijdstippen door Artuur ingericht, iedereen is vrij om zich hiervoor in te schrijven en deel te nemen!
          <br>
          <strong>Workshops op aanvraag</strong>
          reserveer je op voorhand en dienen enkel voor grotere groepen.
        </p>

        <p>Maak hieronder je keuze en ontdek ons aanbod!</p>
      </div>

      <div class="type-filters">
        <button class="type-filter">Allemaal</button>
        <button class="type-filter">In huis</button>
        <button class="type-filter">Op aanvraag</button>
      </div>

      <div class="tag-filters filter-group">
        <div class="subtitle">Soort workshop ({{checkedTags.length}})</div>
        {{#each tag in tags}}
          {{workshop-filter filter=tag toggle='toggleFilter'}}
        {{/each}}
      </div>

      <div class="audience-filters filter-group">
        <div class="subtitle">Doelgroep ({{checkedAudiences.length}})</div>
        {{#each audience in audiences}}
          {{workshop-filter filter=audience toggle='toggleFilter'}}
        {{/each}}
      </div>

    </div>

    <div class="workshops-list">
      {{#each workshop in filteredWorkshops}}
        {{#link-to 'workshop' workshop classNames='workshop-item'}}
          <img src="{{workshop.coverImage}}" class="cover-image" alt="afbeelding voor {{workshop.title}}">
          <h3 class="title">{{workshop.title}}</h3>
          <div class="tags">

            <div class="tags-wrapper">
              {{#each tag in workshop.tags}}
                <div class="tag-item">{{tag.name}}</div>
              {{/each}}

              {{#each audience in workshop.audiences}}
                <div class="tag-item">{{audience.name}}</div>
              {{/each}}
            </div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>

  </div>
</section>